.centering{
    display: flex;
    justify-content: center;
    align-items: center;
}
.bgImg{
    background-image: url('../../../public/images/green.jpg'); 
    background-size: cover;
    background-position: center;
}