.centering{
    display: flex;
    justify-content: center;
    align-items: center;
}
.bgImg{
    background-image: url('/images/signup/green.jpg');
    background-position: center;
    background-size: cover;
}